// Colors
$main-color:                 #2A7DA1;
$secondary-color:            #FF5E3A;
$third-color:                #FF9F88;
$forth-color:                #303030;
$fifth-color:                #2A7DA1;
$header-font-color:          #FFFFFF;
$font-color:                 #FFFFFF;

// Fonts
$p-font-stack:               'Open Sans', sans-serif;
$h1-font-stack:              'Bree Serif', sans-serif;

// Set element colors
$background-overlay-color:   $main-color;
$background-overlay2-color:  $fifth-color;
$background-overlay-opacity: 0.6;
$link-color:                 $secondary-color;
$link-color-hover:           $third-color;
$navbar-selector-opacity:    0.9;
$bar-color:                  $forth-color;

/* This mixin creates rbga color from hex and opacity */
@mixin background-opacity($color, $opacity: 0.5) {
  background: $color; /* The Fallback */
  background: rgba($color, $opacity);
}

html, body {
  font-family: $p-font-stack;
}

/* Style navbar */
.navbar {
  @include background-opacity($bar-color, 1);
  border-width: 0;
  margin-bottom: 0
}

/* Give the navbar active item a nice background color */
.navbar-inverse .navbar-nav>.active>a, .navbar-inverse .navbar-nav>.active>a:focus {
  background: $link-color;
}
.navbar-inverse .navbar-nav>.active>a:hover  {
  background: $link-color-hover;
}

/* Style the href links */
a:link, a:visited {
  color: $link-color;
}
a:hover, a:active {
  color: $link-color-hover;
  text-decoration: none;
}

.top-spacing-container {
  @include background-opacity($bar-color, $navbar-selector-opacity);
  height: 50px;
}

.info-container {
  h1 {
    color: $header-font-color;
    text-align: center;
    font-family: $h1-font-stack;
    font-size: 50px;
    font-weight: 400;

    @media (max-width: 768px) {
      padding: 20px 0 40px;
    }
  }

  h2 {
    padding-left: 30px;
    padding-bottom: 10px;
    color: #FFF;
    font-family: $h1-font-stack;
    font-size: 30px;
    font-weight: 200;
  }

  h3 {
    color: $secondary-color;
    font-family: $h1-font-stack;
    font-size: 25px;
    font-weight: 200;
  }

  h3:hover {
    color: $third-color;
    font-family: $h1-font-stack;
    font-size: 25px;
    font-weight: 200;
  }
}

/* Style the main content */
.top-container {
  @include background-opacity($background-overlay2-color, $background-overlay-opacity);
  padding: 100px 0 100px;

  @media (max-width: 768px) {
    padding: 20px 0 40px;
  }

  @media (max-width: 480px) {
    padding: 10px 0 20px;
  }

  h2 {
    text-align: center;
    padding-left: 30px;
    padding-bottom: 10px;
    color: #FFF;
    font-family: $h1-font-stack;
    font-size: 30px;
    font-weight: 200;
  }

  h3 {
    color: $secondary-color;
    text-align: center;
    font-family: $h1-font-stack;
    font-size: 25px;
    font-weight: 200;
  }

  p {
    color: $font-color;
    margin-top: 20px;
    font-size: 22px;

    @media (max-width: 480px) {
      margin-bottom: 30px;
    }
  }

  .nick-image-container {
    padding-right: 0;
    padding-top: 40px;

    @media (max-width: 1200px) {
      padding-right: 20px;
    }

    @media (max-width: 768px) {
      padding-right: 0;

      h2 {
        position: relative;
        left: -16px;
      }
    }
  }

  .nick-image {
    border-radius: 50%;
    width: 200px;
    height: 200px;
    border: 2px solid #FFF;
  }
}

.projects-container {
  @include background-opacity(#FFF, 1);
  padding: 20px 0 40px 0;

  h2 {
    padding-left: 30px;
    padding-bottom: 10px;
    color: #444;
    font-family: $h1-font-stack;
    font-size: 30px;
    font-weight: 200;
  }

  h3 {
    text-align: center;

    @media (max-width: 768px) {
      text-align: left;
    }
  }

  p {
    color: #666;
    margin-top: 20px;
    font-size: 16px;
  }

  strong {
    color: $main-color;
  }

  .logo {
    width: 200px;
    padding: 20px 0 5px;
  }
}

.contact-container {
  @include background-opacity($background-overlay2-color, 1);
  padding: 20px 0 40px 0;

  .table>tbody>tr>td {
    color: $font-color;
    border-top: 0;
    margin-top: 20px;
    font-size: 16px;
  }
}

/* Style the footer */
.footer {
  @include background-opacity($bar-color, $navbar-selector-opacity);
  text-align: center;
  padding-top: 15px;
  padding-bottom: 5px;

  p {
    font-size: 18px;

    @media (max-width: 480px) {
      font-size: 16px;
    }
  }
}

/* Hack to center cols correctly */
.center-block {
    float: none;
}

/* Fit embedded webApps fully in the browsers. leave room for the top navbar */
#embed {
    display:none;
    margin-top: 50px;
    position: absolute;
    top: 0;
    left: 0;
    right: 0;
    bottom: 0;
    z-index: 999999;
}

/* Fit the webApp fully in the embed div */
.iframe {
    border: 0;
    position: absolute;
    top: 0;
    left: 0;
    right: 0;
    bottom: 0;
    width: 100%;
    height: 100%;
}