// Colors
$main-color:                 #2A7DA1;
$secondary-color:            #FF5E3A;
$third-color:                #FF9F88;
$forth-color:                #404040;

// Fonts
$p-font-stack:               'Open Sans', sans-serif;
$h1-font-stack:              'Bree Serif', sans-serif;

// Set element colors
$background-overlay-color:   $main-color;
$background-overlay-opacity: 0.6;
$link-color:                 $secondary-color;
$link-color-hover:           $third-color;
$navbar-selector-opacity:    0.8;
$bar-color:                  $forth-color;

/* This mixin creates rbga color from hex and opacity */
@mixin background-opacity($color, $opacity: 0.5) {
  background: $color; /* The Fallback */
  background: rgba($color, $opacity);
}

html, body {
  font-family: $p-font-stack;
  @include background-opacity($background-overlay-color, 0.6);
  padding-top: 50px;
  padding-bottom: 50px;
  height: 100%;
}

/* Give navbar a transparent look */
.navbar-inverse .navbar-nav>.active>a, .navbar-inverse .navbar-nav>.active>a:focus {
  @include background-opacity($link-color, $navbar-selector-opacity);
}

/* Give the navbar active item a nice background color */
.navbar-inverse .navbar-nav>.active>a:hover  {
  @include background-opacity($link-color-hover, $navbar-selector-opacity);
}

/* Give the dropdown menu a darker color to make visibility easier */
.navbar-collapse.in {
  @include background-opacity(#222, 0.8);
}

/* Style the href links */
a:link, a:visited {
  color: $link-color;
}
a:hover, a:active {
  color: $link-color-hover;
  text-decoration: none;
}

/* Style navbar */
.navbar {
    @include background-opacity($bar-color, $background-overlay-opacity);
    border-width: 0;
}

/* Style the main content */
.main {
  padding: 40px 15px;

  p {
    color: #FFF;
    margin-top: 30px;
    font-size: 22px;
  }

  h1 {
     color: #FFF;
     text-align: center;
     font-family: $h1-font-stack;
     font-size: 50px;
     font-weight: 400;
  }

  h2 {
    color: #FFF;
    text-align: center;
    font-family: $h1-font-stack;
    font-size: 40px;
    font-weight: 300;
  }
}

/* Style the footer */
.footer {
  text-align: center;
  @include background-opacity($bar-color, $background-overlay-opacity);
  padding-top: 15px;

  p {
    font-size: 18px;
  }
}

/* Hack to center cols correctly */
.center-block {
    float: none;
}

/* Fit embedded webApps fully in the browsers. leave room for the top navbar */
#embed {
    display:none;
    margin-top: 50px;
    position: absolute;
    top: 0;
    left: 0;
    right: 0;
    bottom: 0;
}

/* Fit the webApp fully in the embed div */
.iframe {
    border: 0;
    position: absolute;
    top: 0;
    left: 0;
    right: 0;
    bottom: 0;
    width: 100%;
    height: 100%;
}