$retro-skate-h1-font-stack:              'Press Start 2P', cursive;;
$font-color:                             #FFFFFF;
$retro-skate-background:                 #4994cc;
$p-font-stack:                          'Open Sans', sans-serif;

.retro-skate {
  background: $retro-skate-background;

  .main-container {
    padding: 30px 0 40px;

    h1 {
      color: $font-color;
      text-align: center;
      font-family: $retro-skate-h1-font-stack;
      font-size: 40px;
      font-weight: 400;
      padding: 40px 0 20px;

      @media (max-width: 768px) {
        font-size: 30px;
      }
    }

    p {
      font-family: $p-font-stack;
      font-size: 18px;
      padding: 20px;
      color: $font-color;
    }

    .iphone-screenshot {
      margin: 10px 20px;

      img {
        display: block;
        height: auto;
        max-width: 100%;
      }
    }

    p {
      padding-bottom: 20px;
    }
  }

}
